html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}

html, body {
    min-height: 100%;
}

body {
    padding-top: 5px;
    background-color: black;
    font-family: 'Buxton Sketch', Verdana;
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

html.bodyshapeloader {
    background: #000000 url(../Images/loaderStart.gif) 50% 50% no-repeat;
    -webkit-transition: background-color 0;
    transition: background-color 0;
}

    html.bodyshapeloader body {
        opacity: 0;
        -webkit-transition: opacity 0;
        transition: opacity 0;
    }

#titre_centre {
    text-align: center;
    margin: auto;
    width: 600px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#feedback
{
    cursor : pointer;
    color : white;
}

#feedback:hover
{
    color : lightgreen;
}

#resultsMagnifier {
    border-radius: 50%;
    float: left;
    position: relative;
    border: solid 4px white;
    width: 150px;
    height: 150px;
    left: 0px;
    top: 0px;
    z-index: 30;
    display: none;
    background-color: transparent;
}

#resultsMagnifierHandle {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    border: solid 4px white;
    border-top: none;
    width: 10%;
    height: 60%;
    left: 0px;
    top: 150px;
    z-index: 25;
    display: none;
    background-color: white;
    margin-top: -5px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#nbSimulations {
    font-size: 25px;
    padding-bottom: 5px;
    color: #008000;
    font-weight: bold;
    font-family: Garamond, Perpetua, Arial;
}

.nbSimul {
    font-size: 35px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-family: Garamond, Perpetua, Arial;
}

.dragbody {
    cursor: pointer;
}

.platformText {
    font-size: 15px;
}

.massresult {
    color: white;
    display: block;
    height: 25px;
    text-align: center;
    font-weight: bold;
    font-family: Garamond, Perpetua, Arial;
    font-size: 11px;
    cursor: pointer;
    position: relative;
}

.membertitle {
    text-align: center;
    color: white;
    margin: auto;
    display: block;
}

#resultTitleGenerationEnd {
    position: relative;
    color: #589ce8;
}

#totalmassresult {
    position: relative;
    font-family: Garamond, Perpetua, Arial;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    color: #589ce8;
    width: 100%;
    text-align: center;
}

.titleresultgeneration {
    font-family: Garamond, Perpetua, Arial;
    font-size: 18px;
    cursor: pointer;
}

#titleresult {
    color: #589ce8;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding-left: 0px;
    margin-top: 10px;
    top: 0px;
    position: relative;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.colortextform {
    color: white;
}

.colorrowform {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-horizontal {
    width: 50%;
    margin: auto;
}

.form-group {
    width: 50%;
    margin: auto;
}

.control-label {
    width: 40%;
}

input:focus {
    outline: none;
}

footer {
    color: white;
    font-family: 'Buxton Sketch', Verdana;
    font-size: 15px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

#height_human {
    border-radius: 5px;
    width: 60px;
    text-align: right;
    color: black;
}

#weight_human {
    border-radius: 5px;
    width: 60px;
    text-align: right;
    color: black;
}

#generatecontrols {
    margin-top: 10px;
    padding-top: 0px;
}

#generate_button {
    float: right;
    margin-right: 30px;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 120px;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#276791), to(#65a9d7));
    background: -webkit-linear-gradient(top, #276791, #65a9d7);
    background: -moz-linear-gradient(top, #276791, #65a9d7);
    background: -ms-linear-gradient(top, #276791, #65a9d7);
    background: -o-linear-gradient(top, #276791, #65a9d7);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

.rotate_button {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background: url("../Images/rotate.png") no-repeat;
}

    .rotate_button:hover {
        opacity: 0.75;
    }

.pivotleft_button {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background: url("../Images/pivotright.png") no-repeat;
}

    .pivotleft_button:hover {
        opacity: 0.75;
    }

    .pivotleft_button:active {
        opacity: 0.5;
    }

.pivotright_button {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background: url("../Images/pivotleft.png") no-repeat;
}

    .pivotright_button:hover {
        opacity: 0.75;
    }

    .pivotright_button:active {
        opacity: 0.5;
    }

.zoom_button {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    opacity: 1;
}

    .zoom_button:hover {
        opacity: 0.75;
    }

    .zoom_button:active {
        opacity: 0.5;
    }

#dezoomx_button {
    background: url("../Images/zoomout.png") no-repeat;
}

#zoomx_button {
    background: url("../Images/zoomin.png") no-repeat;
}

#right_movebutton {
    margin: auto;
    text-align: center;
    display: inline-block;
    border-style: none;
    height: 35px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background: url("../Images/next_button.png") no-repeat;
    opacity: 1;
}

    #right_movebutton:hover {
        opacity: 0.75;
    }

    #right_movebutton:active {
        opacity: 0.5;
    }

#left_movebutton {
    margin: auto;
    text-align: center;
    display: inline-block;
    border-style: none;
    height: 35px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    background: url("../Images/previous_button.png") no-repeat;
    opacity: 1;
}

    #left_movebutton:hover {
        opacity: 0.75;
    }

    #left_movebutton:active {
        opacity: 0.5;
    }

.move_button {
    margin: auto;
    text-align: center;
    display: inline-block;
    height: 35px;
    width: 35px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    opacity: 1;
}

    .move_button:hover {
        opacity: 0.75;
    }

    .move_button:active {
        opacity: 0.5;
    }

#top_movebutton {
    background: url("../Images/top_button.png") no-repeat;
}

#down_movebutton {
    background: url("../Images/down_button.png") no-repeat;
}

.gobutton:hover {
    opacity: 0.75;
}

#load_photos_button {
    float: left;
    margin-left: 30px;
    text-align: center;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 120px;
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#276791), to(#65a9d7));
    background: -webkit-linear-gradient(top, #276791, #65a9d7);
    background: -moz-linear-gradient(top, #276791, #65a9d7);
    background: -ms-linear-gradient(top, #276791, #65a9d7);
    background: -o-linear-gradient(top, #276791, #65a9d7);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 17px;
    font-family: Georgia, serif;
    text-decoration: none;
    vertical-align: middle;
}

#generate_zone {
    margin: auto;
    margin-top: 0px;
    text-align: center;
    height: 40px;
    bottom: 5px;
}

#photo_zone_1 {
    margin-top: 30px;
    height: 600px;
    width: 90%;
    border: 2px groove white;
    display: block;
    visibility: visible;
    position: relative;
}

#photo_zone_2 {
    margin-top: 30px;
    width: 1px;
    height: 1px;
    display: inline;
    visibility: hidden;
}

.menu_droit_item ::before {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    font-size: 20px;
    color: white;
}

    a ::after {
        text-decoration: none;
    }

.menu_droit {
    display: block;
    float: right;
    text-align: right;
    font-size: 12px;
    color: white;
    margin-right: 150px;
}

.menu_droit_item {
    font-size: 20px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

    .menu_droit_item a:hover {
        text-decoration: none;
    }

#page_generation {
    margin: auto;
    text-align: center;
    width: 90%;
    height: 720px;
}

#previous_icon {
    top: 295px;
    float: left;
    position: relative;
    display: inline;
    cursor: pointer;
}

#next_icon {
    top: 295px;
    float: right;
    position: relative;
    display: inline;
    cursor: pointer;
}

.tooltip_templates {
    display: none;
}

#infos_1 {
    float: left;
    width: 28%;
    border-radius: 20px;
    border: 3px solid white;
    height: 850px;
}

#infos_2 {
    float: left;
    margin-left: 2%;
    width: 28%;
    border-radius: 20px;
    border: 3px solid white;
    height: 850px;
    overflow: hidden;
}

#generation_3D_canvas {
    float: left;
    margin-left: 2%;
    width: 38%;
    border-radius: 20px;
    border: 3px solid white;
    height: 850px;
}

#popup_container {
    font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
    font-size: 25px;
    min-width: 400px;
    max-width: 600px;
    border: solid 5px #00008b;
    color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 20px;
    position: relative;
    display: block;
    text-align: center;
    background-color: white;
    cursor: pointer, default;
}

#popup_title {
    font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 1.75em;
    border-radius: 20px;
    color: green;
    border: solid 1px #00008b;
    border-bottom: solid 1px white;
    cursor: default;
    padding: 0em;
    padding-top: 20px;
    margin: 0em;
}

#popup_content {
    border-radius: 20px;
    font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
    padding: 1em 1.75em;
    margin: 0em;
}

    #popup_content.alert {
        font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
        text-align: center;
        color: black;
    }

    #popup_content.confirm {
        font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
        text-align: center;
        color: black;
    }

    #popup_content.prompt {
        font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
        text-align: center;
        color: black;
    }

#popup_message {
    font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
    margin: auto;
}

#popup_panel {
    font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
    text-align: center;
    margin: auto;
}

#popup_prompt {
    font-family: 'MV Boli', Mistral, Helvetica, Sans-Serif;
    margin: auto;
    color: black;
    text-align: left;
    font-size : 14px;
}

#popup_ok {
    margin-top: 20px;
    color: green;
}

#popup_cancel {
    margin-top: 20px;
    color: red;
}
